.modal-popup {
  width: 380px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  margin-bottom: 50px;
  margin-right: 30px;
  background-color: #1e1e2d;
  border-radius: 12px;
  height: 110px;
}

.modal-content {
  border-radius: 12px;
}

.btn-ans {
  max-height: 60px;
  max-width: 60px;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 12px;
  margin-top: 25px;
  margin-left: 25px;
}

.btn-hangup {
  max-height: 60px;
  max-width: 60px;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 12px;
  margin-top: 25px;
  margin-right: 25px;

}

.incoming-icon {
  margin-top: 30px;
  margin-left: 15px;
}

.incoming-name {
  margin-top: -2px;
  margin-left: 15px;
}

.incoming-number {
  margin-top: -2px;
}

.incoming-transfer {
  background-color: #1B1B28;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.incoming-transfer:hover {
  background: black;
  border-radius: 6px;
}

.ans-icon {
  margin-top: 30px;
  margin-left: 30px;
}

.ans-timer {
  margin-top: 5px;
  margin-left: 30px;
}

.ans-icon-mic {
  margin-left: 90px;
  background-color: #1e1e2d;
}

.ans-icon-speaker {
  margin-left: 10px;
  background-color: #1e1e2d;
}

.ans-icon-numpad {
  margin-left: 10px;
  background-color: #1e1e2d;
}

.hangup-icon {
  margin-top: 30px;
  margin-left: 30px;
}

.close-icon {
  margin-top: 0px;
}

.numpad-popup {
  width: 380px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  margin-bottom: 50px;
  margin-right: 30px;
  background-color: #1e1e2d;
  border-radius: 12px;
  height: 512px;
}

.modal-content-popup {
  border-radius: 12px;
}

.numpad {
  margin-left: -10px;
  margin-top: -30px;
}

.numpad-l {
  margin-top: 60px;
  margin-left: 80px;
  margin-right: 80px;
}

.bg-dark {
  background-color: #1E1E2D;
}

.modal-xl {
  max-width: 630px;
}

.create-room {
  background-color: #000;
  border-radius: 12px;
  height: 180px;
  width: 180px;
}

.create-status-ans {
  background-color: #06D734;
  border-radius: 12px;
  height: 10px;
  width: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.create-status-call {
  background-color: #FFAE50;
  border-radius: 12px;
  height: 10px;
  width: 10px;
  margin-top: 20px;
  margin-left: 20px;
}
.modal-header {
  border: none;
/*   min-height: 10px;
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  margin-left: 25px;
  width: 580px; */
}

.create-join {
  background-color: #000;
  border-radius: 6px;
  height: 50px;
  width: 250px;
  margin-top: 10px;
}

.create-list {
  background-color: #000;
  border-radius: 6px;
  height: 50px;
  width: 350px;
  margin-top: 10px;
  margin-left: 0px;
}

.user {
  text-align: center;
}

.btn-add {
  background-color: #06D734;
  border-radius: 4px;
  height: 30px;
  width: 30px;
}

.btn-h {
  margin-left: 10px;
  background-color: #FF1616;
  border-radius: 4px;
  height: 30px;
  width: 30px;
}

.btn-h1 {
  background-color: #FF1616;
  border-radius: 4px;
  height: 30px;
  width: 30px;
}

.line-on-bottom {
  border-bottom: 1px solid rgb(143, 143, 143);
  margin-left: 25px;
  width: 580px;
}

.required-join {
  font-size: 16px;
  margin-left: 15px;
}

.btn-icon-mic {
  margin-left: 25px;
  background-color: #1e1e2d;
}

.btn-icon-speaker {
  margin-left: 20px;
  background-color: #1e1e2d;
}

.btn-icon-mic1 {
  margin-left: 70px;
  background-color: #000000;
}

.btn-icon-speaker1 {
  margin-left: 10px;
  background-color: #000000;
}


.btn-hangup-con {
  max-height: 60px;
  max-width: 60px;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 12px;

}

.bg {
  background-color: #A1A1A1;
}

.no-data-text {
  margin-left: 250px;
}

.modal {
  box-shadow: 0px 0px 0px transparent;
  outline: 0;
}

.modal-name-bullet:before {
  content: '•';
  font-size: 30px;
  margin-right: 8px;
}
.online-bullet:before {
  color: green;
}
.offline-bullet:before {
  color: gray;
}
.dndshort-bullet:before {
  color: orange;
}
.dndlong-bullet:before {
  color: orange;
}
.dndlast-bullet:before {
  color: orange;
}
.show {
  display: block;
}
