<div
  class="modal fade"
  id="numpad"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  (click)="isOpenCallPopup = true;"
>
  <div class="modal-dialog numpad-popup">
    <div class="modal-content-popup modal-content">
      <div class="transfer-numpad ">
        <!--begin::Form-->
        <form
          data-kt-search-element="form"
          class="position-relative numpad-l"
          autocomplete="off"
        >
          <div class="title-input numpad">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid mb-lg-0"
              style="text-align: center"
              [(ngModel)]="numpad"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
              name="tel"
              maxlength="10"
            />
          </div>
          <div class="row mt-3">
            <div class="col-4 mt-4">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('1')"
                >
                  <span
                    class="text-white fs-2"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >1</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-4">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('2')"
                >
                  <span
                    class="text-white fs-2"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >2</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-4">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('3')"
                >
                  <span
                    class="text-white fs-2"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >3</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-6">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('4')"
                >
                  <span
                    class="text-white fs-2"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >4</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-6">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('5')"
                >
                  <span
                    class="text-white fs-2"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >5</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-6">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('6')"
                >
                  <span
                    class="text-white fs-2"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >6</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-6">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('7')"
                >
                  <span
                    class="text-white fs-2"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >7</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-6">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('8')"
                >
                  <span
                    class="text-white fs-2"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >8</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-6">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('9')"
                >
                  <span
                    class="text-white fs-2"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >9</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-6">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('*')"
                >
                  <span
                    class="text-white fs-1"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >*</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-6">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('0')"
                >
                  <span
                    class="text-white fs-2"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >0</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-6">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('#')"
                >
                  <span
                    class="text-white fs-2"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >##</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-10">
              <span
                [inlineSVG]="'./assets/img/iconnumber/back.svg'"
                style="margin-left: 15px"
                data-bs-toggle="modal"
                data-bs-target="#incoming"
              >
              </span>
            </div>
            <div class="col-4 mt-6">
              <button
                class="btn rounded-3"
                style="background-color: #06d734"
                [ngClass]="toolbarButtonHeightClass"
                (click)="transfer()"
                [disabled]="numpad === ''"
              >
                <span
                  [inlineSVG]="'./assets/img/iconnumber/answer.svg'"
                  class="svg-icon text-white svg-icon-2x"
                  style="margin-left: -3px; border-radius: 12px"
                ></span>
              </button>
            </div>
            <div
              class="col-4 mt-12 "
              [ngClass]="toolbarButtonHeightClass"
              (click)="deleteNumber()"
            >
              <span
                [inlineSVG]="'./assets/img/iconnumber/delete.svg'"
                style="margin-left: 15px"
                class="svg"
              >
              </span>
            </div>
          </div>
        </form>
        <!--end::Form-->
      </div>
    </div>
  </div>
</div>


<div
  class="modal fade"
  id="callout-popup"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog numpad-popup">
    <div class="modal-content-popup modal-content">
      <div class="transfer-numpad ">
        <!--begin::Form-->
        <form
          data-kt-search-element="form"
          class="position-relative numpad-l"
          autocomplete="off"
        >
          <div class="title-input numpad">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid mb-lg-0"
              style="text-align: center"
              [(ngModel)]="numpad"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
              name="tel"
              maxlength="10"
            />
          </div>
          <div class="row mt-3">
            <div class="col-4 mt-4">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('1')"
                >
                  <span
                    class="text-white fs-2"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >1</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-4">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('2')"
                >
                  <span
                    class="text-white fs-2"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >2</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-4">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('3')"
                >
                  <span
                    class="text-white fs-2"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >3</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-6">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('4')"
                >
                  <span
                    class="text-white fs-2"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >4</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-6">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('5')"
                >
                  <span
                    class="text-white fs-2"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >5</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-6">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('6')"
                >
                  <span
                    class="text-white fs-2"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >6</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-6">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('7')"
                >
                  <span
                    class="text-white fs-2"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >7</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-6">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('8')"
                >
                  <span
                    class="text-white fs-2"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >8</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-6">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('9')"
                >
                  <span
                    class="text-white fs-2"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >9</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-6">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('*')"
                >
                  <span
                    class="text-white fs-1"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >*</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-6">
              <div class="digit">
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('0')"
                >
                  <span
                    class="text-white fs-2"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >0</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-6">
              <div class="digit">7
                <button
                  class="btn rounded-3"
                  style="background-color: #525252"
                  [ngClass]="toolbarButtonHeightClass"
                  data-kt-menu-trigger="click"
                  (click)="onCkickNumPad('#')"
                >
                  <span
                    class="text-white fs-2"
                    [ngClass]="toolbarButtonIconSizeClass"
                    >#</span
                  >
                </button>
              </div>
            </div>
            <div class="col-4 mt-10"></div>
            <div class="col-4 mt-6">
              <button
                class="btn rounded-3"
                style="background-color: #06d734"
                [ngClass]="toolbarButtonHeightClass"
                (click)="callout()"
                [disabled]="numpad === ''"
              >
                <span
                  [inlineSVG]="'./assets/img/iconnumber/answer.svg'"
                  class="svg-icon text-white svg-icon-2x"
                  style="margin-left: -3px; border-radius: 12px"
                ></span>
              </button>
            </div>
            <div
              class="col-4 mt-12 "
              [ngClass]="toolbarButtonHeightClass"
              (click)="deleteNumber()"
            >
              <span
                [inlineSVG]="'./assets/img/iconnumber/delete.svg'"
                style="margin-left: 15px"
                class="svg"
              >
              </span>
            </div>
          </div>
        </form>
        <!--end::Form-->
      </div>
    </div>
  </div>
</div>
